* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template: 100px auto / auto;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  color: rgb(197, 197, 245);
}

#stage {
  width: 350px;
  height: 350px;
  background-color: rgb(7, 7, 139);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  padding: 7px;
  align-self: flex-start;
}

.square {
  background-color: rgb(0, 0, 0);
}

#btn-reset {
  align-self: flex-start;
  background-color: rgb(7, 7, 139);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.6s;
}

#btn-reset:hover {
  background-color: rgb(16, 16, 192);
}

/* Classes a serem adicionados pelo JS a cada jogada */

.o,
.x {
  text-align: center;
}

.o:after {
  content: '\2B55';
  /* É o código do emoji */
  font-size: 50px;
  line-height: 100px;
}

.x:after {
  content: '\274C';
  /* É o código do emoji */
  font-size: 50px;
  line-height: 100px;
}
